<div class="formspace bg-light">
    <a href="/" style="margin-right: 14px"
      class="form-info-head d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
      <span class="fs-6 fw-semibold text-center ">John Meany - JohnMeany@gmail.com</span>
      <span class="fs-6 fw-semibold text-center ms-auto text-primary">Process</span>
    </a>
    <div  *ngFor="let singleForm of Form" class="list-group list-group-flush border-bottom scrollarea"
      style="max-height: calc(100vh - 114px); overflow-y: scroll;">
      <h2>{{ singleForm._id }}</h2>
      <!-- <form class="col-md-8 mx-auto pt-4 mb-4">
        <h2 class="text-center mr-auto ms-auto">John Meany</h2>
        <div class="mb-3">
          <label for="question1" class="form-label">Question 1:</label>
          <input type="text" class="form-control" id="question1">
        </div>
        <div class="mb-3">
          <label for="question2" class="form-label">Question 2:</label>
          <input type="text" class="form-control" id="question2">
        </div>
        <div class="mb-3">
          <label for="question2" class="form-label">Question 2:</label>
          <input type="text" class="form-control" id="question2">
        </div>
        <div class="mb-3">
          <label for="question3" class="form-label">Question 3:</label>
          <input type="text" class="form-control" id="question3">
        </div>
        <div class="mb-3">
          <label for="question4" class="form-label">Question 4:</label>
          <input type="text" class="form-control" id="question4">
        </div>
        <div class="mb-3">
          <label for="question5" class="form-label">Question 5:</label>
          <input type="text" class="form-control" id="question5">
        </div>
        <div class="mb-3">
          <label for="question5" class="form-label">Question 5:</label>
          <input type="text" class="form-control" id="question5">
        </div>
        <div class="mb-3">
          <label for="question5" class="form-label">Question 5:</label>
          <input type="text" class="form-control" id="question5">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
    </div>
  </div>