::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    display: block;
  
  }
  
  ::-webkit-scrollbar-track{
    // background-color: #f8f9fa;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #21252951;
  }
  
  .form-info-head{
    border-bottom: 1px solid #eaeaea;
  
  }
 
  .d-flex .align-items-center .flex-shrink-0 .p-3 .link-dark .text-decoration-none {
    border-bottom: 1px solid #f1f1f1;
  }
  
  .scroller-title{
    border-bottom: 1px solid #f1f1f1;
  }
  
  .infobox{
    border-top: 1px solid #f1f1f1;
  }
  