<div class="formspace bg-light" *ngFor="let singleForm of Form">
  <a href="javascript:void(0)" style="margin-right: 14px"
    class="form-info-head d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
    <span class="fs-6 fw-semibold text-center">{{ singleForm.fullName }} - {{ singleForm.emailAddress }}</span>
    <span *ngIf="!singleForm.processed" (click)="processFile(singleForm)"
      class="fs-6 fw-semibold text-center ms-auto text-primary">Process</span>
    <span *ngIf="singleForm.processed" 
      class="fs-6 fw-semibold delete-btn text-center ms-auto">
      <!-- <i class="fa fa-trash"></i> -->
      <div *ngIf="!showButtons">
        <span (click)="onDeleteClicked()" class="">
          <i class="fa fa-trash"></i>
        </span>
      </div>
  
      <div *ngIf="showButtons" style="margin-bottom: -4px; margin-top: -4px;">
        <button (click)="deleteForm(Form)" class="btn btn-sm btn-danger me-2 pt-none pb-none">Confirm</button>
        <button (click)="onCancelDelete()" class="btn btn-sm btn-secondary pt-none pb-none">Cancel</button>
      </div>
    </span>
    <!-- fs-6 fw-semibold delete-btn text-center ms-auto -->
    <!-- (click)="deleteForm(Form)" -->
  </a>
  <div
    class="list-group list-group-flush border-bottom scrollarea mr-auto"
    style="max-height: calc(100vh - 114px); overflow-y: scroll"
  >
    <div class="container mt-5">
      <div class="row mx-auto align-items-center justify-content-center">
        <div class="col-md-8 mr-auto text-center mb-5">
          <h1 class="fw-bold">{{ singleForm.companyName }}</h1>
          <h4 class="fw-bold" style="color: rgb(53, 53, 53); font-size: 25px">
            {{ singleForm.fullName }}
          </h4>
          <hr />
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Details of Advertisement Placer
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Role: </span
            ><span style="color: rgb(31, 31, 31)">{{ singleForm.person }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Full Name: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.fullName
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Address: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.address
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Phone Number: </span
            ><span style="color: rgb(31, 31, 31)">{{ singleForm.phone }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Email Address: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.emailAddress
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Has Authority: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.authority
            }}</span>
          </p>
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Details of Company to be Struck Off
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Company Name: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.companyName
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">CRO Number: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.croNumber
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Has Company Name Changed: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.nameChanged
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Previous company name: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.previousCompanyName
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Registered Trading As: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.tradingAs
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Registered Business Name: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredBusName
            }}</span>
          </p>
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Registered Office-
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Street address: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredAddress1
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Address line 2: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredAddress2
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Region: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredRegion
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">City: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredCity
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Postal code: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredPostalCode
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Country: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredCountry
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Registered Business Name: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.prevRegisterOffice
            }}</span>
          </p>
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Previous Registered Office-
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Street address: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.prevAddress1
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Address line 2: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.prevAddress2
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Region: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.prevRegion
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">City: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.prevCity
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Postal code: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.prevPostalCode
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Country: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.prevCountry
            }}</span>
          </p>
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Business Address-
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Business Address dif to Registered Address: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.difAddress
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Street address: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.busAddress1
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Address line 2: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.busAddress2
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Region: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.busRegion
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">City: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.busCity
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Postal code: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.busPostalCode
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Country: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.busCountry
            }}</span>
          </p>
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Previous Trading History-
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Company previously Traded?: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.previouslyTraded
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Ceased trading date: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.ceasedTradingDate
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Applied for letter of no obligation: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.letterOfNoObjection
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >VolStrikeOff to assist request Letter <br />
              of No Objection from Revenue: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.letterAssistance
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Was the company ever registered for any taxes: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.registeredForTaxes
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >What is the company tax numb: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.companyTaxNumber
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Has the company been de-registered <br />
              from all taxes with the Revenue?: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.deRegistered
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Have all tax returns been submitted to the <br />
              Revenue Commissioners up to the date of de-registration?: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.taxReturnSubmitted
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Have all tax liabilities been fully paid to <br />
              the Revenue Commissioners?: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.taxesPaid
            }}</span>
          </p>
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Company Law Provisions-
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Company no longer trading or never have: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.companyNoLongerTrading
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >All annual returns up to date: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.returnsUpToDate
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Total assets dont exceed €150: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.assetsExceed150
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Total liabilities dont exceed €150: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.liabilitiesExceed150
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)"
              >Company not a party to ongoing litigation: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.ongoingLitigation
            }}</span>
          </p>
        </div>
        <div class="col-md-8 mr-auto mb-5">
          <h3
            class="fw-bold mr-auto text-center"
            style="color: rgb(53, 53, 53); font-size: 20px"
          >
            Details of Director or Secretary-
          </h3>
          <hr />
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">First name: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.strikeOffByFirstName
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">last name: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.strikeOffByLastName
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">Director or Secretary: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.strikeOffBy
            }}</span>
          </p>
          <p class="mb-2">
            <span style="color: rgb(0, 123, 255)">T&C: </span
            ><span style="color: rgb(31, 31, 31)">{{
              singleForm.tandcAgreed
            }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- <span><b style="color: rgb(0,123,255); font-size: 35px; font-weight: 600; padding-bottom: 30px;">{{ singleForm.companyName}}</b></span><br>
<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Which service do you require-</b></span><br>

    <span style="color: rgb(0,123,255);">Service: <b style="color: rgb(31, 31, 31);">{{ singleForm.service}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Details of the Person placing the Advertisement-</b></span><br>

    <span style="color: rgb(0,123,255);">Role: <b style="color: rgb(31, 31, 31);">{{ singleForm.person}}</b></span><br>
    <span style="color: rgb(0,123,255);">Full Name: <b style="color: rgb(31, 31, 31);">{{ singleForm.fullName}}</b></span><br>
    <span style="color: rgb(0,123,255);">Address: <b style="color: rgb(31, 31, 31);">{{ singleForm.address}}</b></span><br>
    <span style="color: rgb(0,123,255);">Phone Number: <b style="color: rgb(31, 31, 31);">{{ singleForm.phone}}</b></span><br>
    <span style="color: rgb(0,123,255);">Email Address: <b style="color: rgb(31, 31, 31);">{{ singleForm.emailAddress}}</b></span><br>
    <span style="color: rgb(0,123,255);">Has Authority: <b style="color: rgb(31, 31, 31);">{{ singleForm.authority}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Details of Company to be Struck Off-</b></span><br>

    <span style="color: rgb(0,123,255);">Company Name: <b style="color: rgb(31, 31, 31);">{{ singleForm.companyName}}</b></span><br>
    <span style="color: rgb(0,123,255);">CRO Number: <b style="color: rgb(31, 31, 31);">{{ singleForm.croNumber}}</b></span><br>
    <span style="color: rgb(0,123,255);">Has Company Name Changed: <b style="color: rgb(31, 31, 31);">{{ singleForm.nameChanged}}</b></span><br>
    <span style="color: rgb(0,123,255);">Previous company name: <b style="color: rgb(31, 31, 31);">{{ singleForm.previousCompanyName}}</b></span><br>
    <span style="color: rgb(0,123,255);">Registered Trading As: <b style="color: rgb(31, 31, 31);">{{ singleForm.tradingAs}}</b></span><br>
    <span style="color: rgb(0,123,255);">Registered Business Name: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredBusName}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Registered Office-</b></span><br>

    <span style="color: rgb(0,123,255);">Street address: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredAddress1}}</b></span><br>
    <span style="color: rgb(0,123,255);">Address line 2: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredAddress2}}</b></span><br>
    <span style="color: rgb(0,123,255);">Region: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredRegion}}</b></span><br>
    <span style="color: rgb(0,123,255);">City: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredCity}}</b></span><br>
    <span style="color: rgb(0,123,255);">Postal code: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredPostalCode}}</b></span><br>
    <span style="color: rgb(0,123,255);">Country: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredCountry}}</b></span><br>
    <span style="color: rgb(0,123,255);">Registered Business Name: <b style="color: rgb(31, 31, 31);">{{ singleForm.prevRegisterOffice}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Previous Registered Office-</b></span><br>

    <span style="color: rgb(0,123,255);">Street Address: <b style="color: rgb(31, 31, 31);">{{ singleForm.prevAddress1}}</b></span><br>
    <span style="color: rgb(0,123,255);">Address line 2: <b style="color: rgb(31, 31, 31);">{{ singleForm.prevAddress2}}</b></span><br>
    <span style="color: rgb(0,123,255);">Region: <b style="color: rgb(31, 31, 31);">{{ singleForm.prevRegion}}</b></span><br>
    <span style="color: rgb(0,123,255);">City: <b style="color: rgb(31, 31, 31);">{{ singleForm.prevCity}}</b></span><br>
    <span style="color: rgb(0,123,255);">Postal code: <b style="color: rgb(31, 31, 31);">{{ singleForm.prevPostalCode}}</b></span><br>
    <span style="color: rgb(0,123,255);">Country: <b style="color: rgb(31, 31, 31);">{{ singleForm.prevCountry}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Business Address-</b></span><br>

    <span style="color: rgb(0,123,255);">Is the Business Address different from the Registered Address above: <b style="color: rgb(31, 31, 31);">{{ singleForm.difAddress}}</b></span><br>
    <span style="color: rgb(0,123,255);">street address: <b style="color: rgb(31, 31, 31);">{{ singleForm.busAddress1}}</b></span><br>
    <span style="color: rgb(0,123,255);">Address line 2: <b style="color: rgb(31, 31, 31);">{{ singleForm.busAddress2}}</b></span><br>
    <span style="color: rgb(0,123,255);">Region: <b style="color: rgb(31, 31, 31);">{{ singleForm.busRegion}}</b></span><br>
    <span style="color: rgb(0,123,255);">City: <b style="color: rgb(31, 31, 31);">{{ singleForm.busCity}}</b></span><br>
    <span style="color: rgb(0,123,255);">Postal code: <b style="color: rgb(31, 31, 31);">{{ singleForm.busPostalCode}}</b></span><br>
    <span style="color: rgb(0,123,255);">Country: <b style="color: rgb(31, 31, 31);">{{ singleForm.busCountry}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Previous Trading History-</b></span><br>

    <span style="color: rgb(0,123,255);">Has the company previously Traded: <b style="color: rgb(31, 31, 31);">{{ singleForm.previouslyTraded}}</b></span><br>
    <span style="color: rgb(0,123,255);">Ceased trading date: <b style="color: rgb(31, 31, 31);">{{ singleForm.ceasedTradingDate}}</b></span><br>
    <span style="color: rgb(0,123,255);">Have they applied for the letter of no obligation: <b style="color: rgb(31, 31, 31);">{{ singleForm.letterOfNoObjection}}</b></span><br>
    <span style="color: rgb(0,123,255);">Do you want VoluntaryStrikeOff to assist in requesting the Letter of No Objection from Revenue Commissioners: <b style="color: rgb(31, 31, 31);">{{ singleForm.letterAssistance}}</b></span><br>
    <span style="color: rgb(0,123,255);">Was the company ever registered for any taxes: <b style="color: rgb(31, 31, 31);">{{ singleForm.registeredForTaxes}}</b></span><br>
    <span style="color: rgb(0,123,255);">What is the company tax numb: <b style="color: rgb(31, 31, 31);">{{ singleForm.companyTaxNumber}}</b></span><br>
    <span style="color: rgb(0,123,255);">Has the company been de-registered from all taxes with the Revenue Commissioners?: <b style="color: rgb(31, 31, 31);">{{ singleForm.deRegistered}}</b></span><br>
    <span style="color: rgb(0,123,255);">Have all tax returns been submitted to the Revenue Commissioners up to the date of de-registration?: <b style="color: rgb(31, 31, 31);">{{ singleForm.taxReturnSubmitted}}</b></span><br>
    <span style="color: rgb(0,123,255);">Have all tax liabilities been fully paid to the Revenue Commissioners?: <b style="color: rgb(31, 31, 31);">{{ singleForm.taxesPaid}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Company Law Provisions-</b></span><br>

    <span style="color: rgb(0,123,255);">Company no longer trading or never have: <b style="color: rgb(31, 31, 31);">{{ singleForm.companyNoLongerTrading}}</b></span><br>
    <span style="color: rgb(0,123,255);">All annual returns up to date: <b style="color: rgb(31, 31, 31);">{{ singleForm.returnsUpToDate}}</b></span><br>
    <span style="color: rgb(0,123,255);">Total assets dont exceed €150: <b style="color: rgb(31, 31, 31);">{{ singleForm.assetsExceed150}}</b></span><br>
    <span style="color: rgb(0,123,255);">Total liabilities dont exceed €150: <b style="color: rgb(31, 31, 31);">{{ singleForm.liabilitiesExceed150}}</b></span><br>
    <span style="color: rgb(0,123,255);">Company not a party to ongoing litigation: <b style="color: rgb(31, 31, 31);">{{ singleForm.ongoingLitigation}}</b></span><br>

<span><b style="color: rgb(53, 53, 53);font-size: 20px; font-weight: 500; padding-bottom: 30px;">Details of Director or Secretary-</b></span><br>

    <span style="color: rgb(0,123,255);">First name: <b style="color: rgb(31, 31, 31);">{{ singleForm.strikeOffByFirstName}}</b></span><br>
    <span style="color: rgb(0,123,255);">last name: <b style="color: rgb(31, 31, 31);">{{ singleForm.strikeOffByLastName}}</b></span><br>
    <span style="color: rgb(0,123,255);">Director or Secretary: <b style="color: rgb(31, 31, 31);">{{ singleForm.strikeOffBy}}</b></span><br>
    <span style="color: rgb(0,123,255);">T&C: <b style="color: rgb(31, 31, 31);">{{ singleForm.tandcAgreed}}</b></span><br> -->

    <!-- <div class="row justify-content-center">
      <div class="col-sm-6 mt-4 mb-4 mr-auto">
        <p>_id: {{ singleForm._id }}</p>
        <p>unid: {{ singleForm.unid }}</p>
        <p>busAddress1: {{ singleForm.busAddress1 }}</p>
        <p>assetsExceed150: {{ singleForm.assetsExceed150 }}</p>
        <p>authority: {{ singleForm.authority }}</p>
        <p>busAddress2: {{ singleForm.busAddress2 }}</p>
        <p>busCity: {{ singleForm.busCity }}</p>
        <p>busCountry: {{ singleForm.busCountry }}</p>
        <p>busPostalCode: {{ singleForm.busPostalCode }}</p>
        <p>busRegion: {{ singleForm.busRegion }}</p>
        <p>ceasedTradingDate: {{ singleForm.ceasedTradingDate }}</p>
        <p>companyName: {{ singleForm.companyName }}</p>
        <p>companyNoLongerTrading: {{ singleForm.companyNoLongerTrading }}</p>
        <p>companyTaxNumber: {{ singleForm.companyTaxNumber }}</p>
        <p>croNumber: {{ singleForm.croNumber }}</p>
        <p>deRegistered: {{ singleForm.deRegistered }}</p>
        <p>difAddress: {{ singleForm.difAddress }}</p>
        <p>emailAddress: {{ singleForm.emailAddress }}</p>
        <p>fullName: {{ singleForm.fullName }}</p>
        <p>letterAssistance: {{ singleForm.letterAssistance }}</p>
        <p>letterOfNoObjection: {{ singleForm.letterOfNoObjection }}</p>
        <p>liabilitiesExceed150: {{ singleForm.liabilitiesExceed150 }}</p>
        <p>nameChanged: {{ singleForm.nameChanged }}</p>
        <p>ongoingLitigation: {{ singleForm.ongoingLitigation }}</p>
        <p>person: {{ singleForm.person }}</p>
        <p>phone: {{ singleForm.phone }}</p>
        <p>prevAddress1: {{ singleForm.prevAddress1 }}</p>
        <p>prevAddress2: {{ singleForm.prevAddress2 }}</p>
        <p>prevCity: {{ singleForm.prevCity }}</p>
        <p>prevCountry: {{ singleForm.prevCountry }}</p>
        <p>prevPostalCode: {{ singleForm.prevPostalCode }}</p>
        <p>prevRegion: {{ singleForm.prevRegion }}</p>
        <p>prevRegisterOffice: {{ singleForm.prevRegisterOffice }}</p>
        <p>previousCompanyName: {{ singleForm.previousCompanyName }}</p>
        <p>previouslyTraded: {{ singleForm.previouslyTraded }}</p>
        <p>registeredAddress1: {{ singleForm.registeredAddress1 }}</p>
        <p>registeredAddress2: {{ singleForm.registeredAddress2 }}</p>
        <p>registeredBusName: {{ singleForm.registeredBusName }}</p>
        <p>registeredCity: {{ singleForm.registeredCity }}</p>
        <p>registeredCountry: {{ singleForm.registeredCountry }}</p>
        <p>registeredForTaxes: {{ singleForm.registeredForTaxes }}</p>
        <p>registeredPostalCode: {{ singleForm.registeredPostalCode }}</p>
        <p>registeredRegion: {{ singleForm.registeredRegion }}</p>
        <p>returnsUpToDate: {{ singleForm.returnsUpToDate }}</p>
        <p>serv: {{ singleForm.serv }}</p>
        <p>strikeOffBy: {{ singleForm.strikeOffBy }}</p>
        <p>strikeOffByFirstName: {{ singleForm.strikeOffByFirstName }}</p>
        <p>strikeOffByLastName: {{ singleForm.strikeOffByLastName }}</p>
        <p>tandcAgreed: {{ singleForm.tandcAgreed }}</p>
        <p>taxReturnSubmitted: {{ singleForm.taxReturnSubmitted }}</p>
        <p>taxesPaid: {{ singleForm.taxesPaid }}</p>
        <p>tradingAs: {{ singleForm.tradingAs }}</p>
        <p>_id: {{ singleForm._id }}</p>
      </div>
    </div>
     -->
  </div>
</div>
