<div class=" bg-white" style="height:100vh;">
    <a href="javascript:void(0)" class="scroller-title d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
      <span class="fs-6 fw-semibold text-center">{{ Title }}  {{ Message }}</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea" 
    style="max-height: calc(100vh - 60px); overflow-y: scroll;">
    
        <a *ngFor="let Form of Forms" (click)="openforms(Form._id)" href="javascript:void(0)" 
        class="list-group-item list-group-item-action py-3 lh-tight mr-3" [class.active-link]="Form._id === selectedFormId">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{ Form.emailAddress }}</strong>
            <small class="">Tues</small>
          </div>
          <div class="col-10 mb-1 small"> {{ Form.fullName }} - {{ Form.companyName }}</div>
          <div class="col-10 mb-1 small">Contact Number: {{ Form.phone }}</div>
        </a>
        <a *ngFor="let Form of Forms" (click)="openforms(Form._id)" href="javascript:void(0)" 
        class="list-group-item list-group-item-action py-3 lh-tight mr-3" [class.active-link]="Form._id === selectedFormId">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{ Form.emailAddress }}</strong>
            <small class="">Tues</small>
          </div>
          <div class="col-10 mb-1 small"> {{ Form.fullName }} - {{ Form.companyName }}</div>
          <div class="col-10 mb-1 small">Contact Number: {{ Form.phone }}</div>
        </a>
        <a *ngFor="let Form of Forms" (click)="openforms(Form._id)" href="javascript:void(0)" 
        class="list-group-item list-group-item-action py-3 lh-tight mr-3" [class.active-link]="Form._id === selectedFormId">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{ Form.emailAddress }}</strong>
            <small class="">Tues</small>
          </div>
          <div class="col-10 mb-1 small"> {{ Form.fullName }} - {{ Form.companyName }}</div>
          <div class="col-10 mb-1 small">Contact Number: {{ Form.phone }}</div>
        </a>
        <a *ngFor="let Form of Forms" (click)="openforms(Form._id)" href="javascript:void(0)" 
        class="list-group-item list-group-item-action py-3 lh-tight mr-3" [class.active-link]="Form._id === selectedFormId">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{ Form.emailAddress }}</strong>
            <small class="">Tues</small>
          </div>
          <div class="col-10 mb-1 small"> {{ Form.fullName }} - {{ Form.companyName }}</div>
          <div class="col-10 mb-1 small">Contact Number: {{ Form.phone }}</div>
        </a>

      <!-- <a href="javascript:void(0)" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item headinggggggg</strong>
          <small>Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a> -->

    </div>
  </div>

  