::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    display: block;
  
  }

  .active-link {
    color: white;
    background-color: #007bff;
  }
  
  ::-webkit-scrollbar-track{
    // background-color: #f8f9fa;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #21252951;
  }

  .scroller-title{
    border-bottom: 1px solid #f1f1f1;
  }
  