<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 bg-dark">
      <div class="text-white" style="height:100vh;">
        <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-light text-decoration-none">
          <span class="fs-6 fw-semibold text-center">VoluntaryStrikeOff</span>
        </a>
        <ul class="nav nav-pills flex-column mb-auto" style="margin-top: 10px">
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              Unprocessed
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              Processed
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class=" bg-white" style="height:100vh;">
        <a href="/" class="scroller-title d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
          <span class="fs-6 fw-semibold text-center">Processed</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea"
          style="max-height: calc(100vh - 60px); overflow-y: scroll;">
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Tues</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Tues</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Mon</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>

          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Wed</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Tues</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Mon</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Wed</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Tues</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Mon</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Wed</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Tues</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-muted">Mon</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-0 col-md-7 col-lg-7 d-none d-md-block">
      <a href="/" class="d-flex align-items-right flex-shrink-0 p-3 link-dark text-decoration-none">
        <span class="fs-6 fw-semibold text-center ms-auto text-danger">Sign Out</span>
      </a>
      <div class="row infobox">
        <div class="formspace bg-light">
          <a href="/" style="margin-right: 14px"
            class="form-info-head d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
            <span class="fs-6 fw-semibold text-center ">John Meany - JohnMeany@gmail.com</span>
            <span class="fs-6 fw-semibold text-center ms-auto text-primary">Process</span>
          </a>
          <div class="list-group list-group-flush border-bottom scrollarea"
            style="max-height: calc(100vh - 114px); overflow-y: scroll;">
            <form class="col-md-8 mx-auto pt-4 mb-4">
              <h2 class="text-center mr-auto ms-auto">John Meany</h2>
              <div class="mb-3">
                <label for="question1" class="form-label">Question 1:</label>
                <input type="text" class="form-control" id="question1">
              </div>
              <div class="mb-3">
                <label for="question2" class="form-label">Question 2:</label>
                <input type="text" class="form-control" id="question2">
              </div>
              <div class="mb-3">
                <label for="question2" class="form-label">Question 2:</label>
                <input type="text" class="form-control" id="question2">
              </div>
              <div class="mb-3">
                <label for="question3" class="form-label">Question 3:</label>
                <input type="text" class="form-control" id="question3">
              </div>
              <div class="mb-3">
                <label for="question4" class="form-label">Question 4:</label>
                <input type="text" class="form-control" id="question4">
              </div>
              <div class="mb-3">
                <label for="question5" class="form-label">Question 5:</label>
                <input type="text" class="form-control" id="question5">
              </div>
              <div class="mb-3">
                <label for="question5" class="form-label">Question 5:</label>
                <input type="text" class="form-control" id="question5">
              </div>
              <div class="mb-3">
                <label for="question5" class="form-label">Question 5:</label>
                <input type="text" class="form-control" id="question5">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>