::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  display: block;

}

::-webkit-scrollbar-track{
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb{
  background-color: #21252951;
}

.col-sm-0 .col-md-7 .col-lg-7,
.col-sm-12.col-md-3.col-lg-3,
app-formspace {
  padding-right: 0;
  padding-left: 0;
  border-right: none;
  border-left: none;
}

.form-info-head{
  border-bottom: 1px solid #eaeaea;

}

.d-flex .align-items-center .flex-shrink-0 .p-3 .link-dark .text-decoration-none {
  border-bottom: 1px solid #f1f1f1;
}

.scroller-title{
  border-bottom: 1px solid #f1f1f1;
}

.infobox{
  border-top: 1px solid #f1f1f1;
}
