::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scrollarea {
  scrollbar-width: thin;
  overflow-y: scroll;
}
.col-sm-0 .col-md-7 .col-lg-7,
.col-sm-12.col-md-3.col-lg-3,
app-formspace {
  padding-right: 0;
  padding-left: 0;
  border-right: none;
  border-left: none;
}

.form-info-head{
  border-bottom: 1px solid #eaeaea;

}

.d-flex .align-items-center .flex-shrink-0 .p-3 .link-dark .text-decoration-none {
  border-bottom: 1px solid #f1f1f1;
}

.scroller-title{
  border-bottom: 1px solid #f1f1f1;
}

.infobox{
  border-top: 1px solid #f1f1f1;
}

  .active-link {
    color: white;
    background-color: #007bff;
  }
  
  .scroller-title{
    border-bottom: 1px solid #f1f1f1;
  }
  
